/* ref: https://youtu.be/AtibeL0tceo */

/* remove header symbol */
.HyperMD-header h1:before,
.HyperMD-header h2:before,
.HyperMD-header h3:before,
.HyperMD-header h4:before,
.HyperMD-header h5:before,
.HyperMD-header h6:before,
.markdown-rendered h1:before,
.markdown-rendered h2:before,
.markdown-rendered h3:before,
.markdown-rendered h4:before,
.markdown-rendered h5:before,
.markdown-rendered h6:before,
.markdown-preview-view h1:after
.workspace h1:before,
.workspace h2:before,
.workspace h3:before,
.workspace h4:before,
.workspace h5:before,
.workspace h6:before,
.print h1:before,
.print h2:before,
.print h3:before,
.print h4:before,
.print h5:before,
.print h6:before {
  content: "§ ";
  font-size: 0.6em;
}

/* config heading color */
/* ref: http://jdev.tw/blog/7102, https://gist.github.com/emisjerry/293ac34be390d024660e41966f3668f0 */
/* H1~H6 hover顯示等級 BEGIN, copied from blue Topaz and made some changes */
/* 閱讀與即時預覽時顯示標題等級 */
.markdown-preview-view h1:hover::after,
.is-live-preview .HyperMD-header-1:hover::after {
  content: 'H1';
  font-size: 0.7rem;
  width: auto;
  margin-left: 10px;
  border: 1px solid;
  padding: 0px 2px;
  border-radius: var(--radius-xs);
  top: 0px;
}

.markdown-preview-view h2:hover::after, 
.is-live-preview .HyperMD-header-2:hover::after {
  content: 'H2';
  font-size: 0.7rem;
  width: auto;
  margin-left: 10px;
  border: 1px solid;
  padding: 0px 2px;
  border-radius: var(--radius-xs);
  position: relative;
  top: 0px;
}

.markdown-preview-view h3:hover::after,
.is-live-preview .HyperMD-header-3:hover::after {
  content: 'H3';
  font-size: 0.65rem;
  width: auto;
  margin-left: 10px;
  border: 1px solid;
  padding: 0px 2px;
  border-radius: var(--radius-xs);
  top: 19px;
}

.markdown-preview-view h4:hover::after,
.is-live-preview .HyperMD-header-4:hover::after {
  content: 'H4';
  font-size: 0.6rem;
  width: auto;
  margin-left: 10px;
  border: 1px solid;
  padding: 0px 2px;
  border-radius: var(--radius-xs);
  top: 20px;
}

.markdown-preview-view h5:hover::after,
.is-live-preview .HyperMD-header-5:hover::after {
  content: 'H5';
  font-size: 0.6rem;
  width: auto;
  margin-left: 10px;
  border: 1px solid;
  padding: 0px 2px;
  border-radius: var(--radius-xs);
  top: 20px;
}

.markdown-preview-view h6:hover::after,
.is-live-preview .HyperMD-header-6:hover::after {
  content: 'H6';
  font-size: 0.6rem;
  width: auto;
  margin-left: 10px;
  border: 1px solid;
  padding: 0px 2px;
  border-radius: var(--radius-xs);
  top: 20px;
}
/* H1~H6 hover顯示等級 END */



  

